{% extends "layout.html" %}

{% block page_title %}
  DWP Design Repository
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge no-margin">Framing the problem</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-one-third">
        <a href="mailto:artworkrequest.digitaldwp@gmail.com?Subject=Frame%20the%20problem%20poster%20request" class="white-button">Request this poster</a>
      </div>
    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-one-third sticker-list">
      <img class="poster" src="/public/images/posters/framing-the-problem.png"/>
    </div>

    <div class="column-two-thirds">
      <h3 class="heading-medium">About this poster</h3>
      <p>This poster was designed by <a href="https://twitter.com/benholliday">Ben Holliday</a>. This <a href="http://www.hollidazed.co.uk/2015/07/28/frame-the-problem/">blog post</a> explains more about framing the problem.</p>
      <h3 class="heading-medium">Printing guidance</h3>
      <p>This poster looks best printed A4 size or bigger.</p>
      <a class="button" href="/public/images/posters/framing-the-problem-poster.zip" title="Download file bundle">Download file bundle</a>
    </div>
  </div>
</main>

{% endblock %}
