// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you



.govuk-header__logo { display: none; }
.govuk-header__content { padding-left: 0; }

$site-width:  1080px;

#global-header .header-wrapper { max-width: 1120px!important; }

#global-header-bar { display: none; }

#big-bar {
  background-color: #005ea5;
  height: auto;
  width: 100%!important;
  color: white;
}

#big-bar .big-bar-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 30px 50px 30px;
}

.no-margin { padding-bottom: 0; margin-bottom: 0;}
.no-margin-top { margin-top: 0; }
.margin-top { margin-top: 40px; }
.margin-bottom { margin-bottom: 20px; }
.text-centre { text-align: center; }
.fl { float: left; }
.fr { float: right; }
.hero-description {
  font-size: 24px;
  width: 80%;
}

.white-button {
  display: inline-block;
  background: white;
  color: #005ea5;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  border-bottom: 3px solid #00487f;
  background-image: url("/public/images/icon-pointer-blue.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 15px 50px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 30px;
}

#logo { display: none; }

.dwp-header {
  color: white;
  margin: 0;
  padding: 0;

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 28px;
    padding: 0 0 0 20px;

    span { font-weight: normal; font-size: 22px; margin-left: 10px; }
  }

}

.sticker-list { margin-top: 40px; }
.image { width: 100%; border-radius: 50%; }
.image-static { width: 100%; border-radius: 50%; }
.image-static-square { width: 100%; }
.poster { width: 100%; }

.poster:hover {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(49, 50, 50, 0.29);
  -moz-box-shadow:    0px 3px 0px 0px rgba(49, 50, 50, 0.29);
  box-shadow:         0px 3px 0px 0px rgba(49, 50, 50, 0.29);
  cursor: pointer;
}

.image:hover {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(49, 50, 50, 0.29);
  -moz-box-shadow:    0px 3px 0px 0px rgba(49, 50, 50, 0.29);
  box-shadow:         0px 3px 0px 0px rgba(49, 50, 50, 0.29);
  cursor: pointer;
}

#proposition-links {
  float: right;

  li {
      margin-top: 5px;

      a {
      cursor: pointer;
      font-weight: normal;
      }
  }
}
