{% extends "layout.html" %}

{% block page_title %}
  DWP Design Repository
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge no-margin">DWP Interaction Designer</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-one-third">
        <a href="mailto:artworkrequest.digitaldwp@gmail.com?Subject=DWP%20Interaction%20Designer%20sticker%20request" class="white-button">Request this sticker</a>
      </div>
    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-one-third sticker-list">
      <img class="image-static" src="/public/images/stickers/dwp-interaction-designer.png"/>
    </div>

    <div class="column-two-thirds">
      <h3 class="heading-medium">About this sticker</h3>
      <p>This sticker was designed by <a href="https://twitter.com/paulmsmith">Paul Smith</a>. Every interaction designer in DWP Digital has this sticker on their laptop, so they can be easily spotted.</p>
      <h3 class="heading-medium">Printing guidance</h3>
      <p>This sticker looks best printed with a matt finish.</p>
      <a class="button" href="/public/images/stickers/dwp-interaction-designer-sticker.zip" title="Download file bundle">Download file bundle</a>
    </div>
  </div>
</main>

{% endblock %}
