{% extends "layout.html" %}

{% block page_title %}
  Accessibility - DWP Digital Service Manual
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds fl"><h1 class="heading-xlarge no-margin">Accessibility</h1>
      <p class="hero-description">Make DWP services accessible for everyone.</p>
      </div>

    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row" style="margin-left: none; padding-left: none;">
    <div class="column-two-thirds" style="padding: 0!important; margin-top: 50px;">
      <p class="govuk-body">At DWP Digital, we don’t always know who will need to use our services, so it’s important that they are accessible for everyone. This means making services that are easy to use, easy to find and take everyone’s needs into account.</p>
      <p>For us, accessibility isn’t just passing an audit. It’s about making sure the language is simple, that the interactions are clear, and that the whole service is meeting the needs of the people that use it.</p>

      <p>We put accessibility at the forefront of everything we do. We design, research and build with it in mind from day 1. We go out and meet with people whose needs might be different to our own and we test it in context. This is on their own devices and in an environment where they feel comfortable.</p>

      <p>We talk to people. We listen and respond to feedback. We iterate, and we make things better for everyone.
</p>

      <h3 class="heading-medium">Designers</h3>
      <ul class="list-bullet">
        <li>We will use existing patterns and components that are proven to be accessibleIf we design anything new, we make sure to use sufficient contrasts from the GOVUK colour palette</li>
        <li>We will make sure our content is clear and concise</li>
        <li>We don’t provide content that relies solely on sensory characteristics, such as sound, images or colour</li>
        <li>We will keep visual stimulus to a minimum, not overloading senses with unnecessary animations or information</li>
        <li>We design simple and well thought out interactions to make services intuitive and help users understand what to do</li>
        <li>If we cannot make a design accessible, we will provide the information in an alternative format</li>
        <li>We will design interactions and layouts that feel consistent with the rest of DWP and Government</li>
        <li>We will make sure to include users with assistive technology in our research and our design iterations</li>
      </ul>

      <h3 class="heading-medium">Developers</h3>
      <ul class="list-bullet">
        <li>We will make sure we use styles and components from the GOVUK Design System</li>
        <li>We will make sure our HTML code is semantically correct</li>
        <li>We will make sure the layout is coded in a way that makes use of proper HTML landmarks so users can easily navigate each page</li>
        <li>We will make sure that users can navigate a service without the use of a mouse</li>
        <li>We will make sure images have good alternative text so they can be understood even if they can’t be seen</li>
        <li>We will make sure any Javascript for dynamic content is applied as a progressive enhancement so that we don’t exclude anybody and don’t provide unnecessary cognitive load</li>
        <li>We will use ARIA attributes for dynamic components when applicable</li>
        <li>We will provide skip-links to allow keyboard users to skip straight to the main content</li>
        <li>We will make links descriptive so they can be understood in isolation rather than ‘Read more’ or ‘Click here’</li>
        <li>We will hide decorative elements from screen readers if they provide no informative value</li>
        <li>We will provide information in an alternative format if something is difficult to make accessible</li>
      </ul>

      <h3 class="heading-medium">The team</h3>
      <ul class="list-bullet">
        <li>We will make sure we understand what is needed to make a service accessible and will conduct ongoing research throughout each phase</li>
        <li>We will make sure we allocate enough time to make things accessible and will include it in our definition of done</li>
        <li>We will make sure we share and talk about the accessibility work we are doing to raise awareness with other teams</li>
        <li>We will make sure to feedback any accessibility research if we find problems with common components or patterns</li>
        <li>We will ensure we are advocates for accessibility, always putting the user first and challenging people that may wish to de-prioritise the work</li>
      </ul>


  </div>


</main>

{% endblock %}
