{% extends "layout.html" %}

{% block page_title %}
  Accessibility - DWP Digital Service Manual
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds fl"><h1 class="heading-xlarge no-margin">Accessibility</h1>
      <p class="hero-description">Make DWP services accessible for everyone.</p>
      </div>

    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row">

  </div>


</main>

{% endblock %}
