{% extends "layout.html" %}

{% block page_title %}
  DWP Service Manual
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge no-margin">Design and build services at the Department for Work and Pensions</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p class="hero-description">Things you need to make consistent, usable services that put people first.</p>
      </div>
    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row margin-top">
    <div class="column-one-third">
      <h2 class="heading-medium">
        <a href="service-list">Service list</a>
      </h2>
      <p>Services delivered by the Department for Work and Pensions and related organisations as an end user would know them.</p>
    </div>
    <div class="column-one-third">
      <h2 class="heading-medium">
        <a href="accessibility">Accessibility</a>
      </h2>
      <p>Make DWP services accessible for everyone.</p>
    </div>
    <div class="column-one-third">
      <h2 class="heading-medium">
        <a href="https://dwp-style-guide.herokuapp.com/">Content style guide</a>
      </h2>
      <p>How to write for DWP services.</p>
    </div>
  </div>

  <div class="grid-row margin-top">
    <div class="column-one-third">
      <h2 class="heading-medium">
        <a href="ways-of-working">Ways of working</a>
      </h2>
      <p>How professions work with each other to design and build services in DWP.</p>
    </div>
    <div class="column-one-third">
      <h2 class="heading-medium">
        <a href="design-principles">Design principles</a>
      </h2>
      <p>Make DWP services accessible for everyone.</p>
    </div>
    <div class="column-one-third">
      <h2 class="heading-medium">
        <a href="when-where-how">When, where and how</a>
      </h2>
      <p>Know when to do what work, where to do it and how to do it to make great services.</p>
    </div>
  </div>
</main>

{% endblock %}
