{% extends "layout.html" %}

{% block page_title %}
  Service List - DWP Digital Service Manual
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
        <div class="column-two-thirds fl">
          <h1 class="heading-xlarge no-margin">Service list</h1>
          <p class="hero-description">Services delivered by the Department for Work and Pensions and related organisations as an end user would know them.</p>
        </div>

        </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full" style="padding: 0; margin-top: 40px;">
      <table id="service-list" class="table--striped">
          <thead>
            <th data-sort="int" class="int">ID</th>
            <th data-sort="string" class="int">Name</th>
            <th data-sort="string" class="int">Delivered by</th>
          </thead>
          <tbody>

            <tr class="">
              <td>1</td>
              <td>Get support because of poor health</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>2</td>
              <td>Get support if unable to work because of caring for someone else</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>3</td>
              <td>Get support because of pregnancy, having a child or becoming responsible for a child</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>4</td>
              <td>Get your State Pension and/or other retirement age benefits</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>5</td>
              <td>Get support because of low income</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>6</td>
              <td>What to do when someone has died</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>7</td>
              <td>Get support because someone has died</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>8</td>
              <td>Get help at work due to a disability or health condition</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <!-- <tr class="">
              <td>9</td>
              <td>Stay in the UK - because your family or private life is here</td>
              <td>UK Visas & Immigration, Border Force</td>
            </tr>

            <tr class="">
              <td>10</td>
              <td>Join family in the UK</td>
              <td>UK Visas & Immigration, Border Force</td>
            </tr>

            <tr class="">
              <td>11</td>
              <td>Become a permanent resident of the UK</td>
              <td>UK Visas & Immigration, Border Force</td>
            </tr>

            <tr class="">
              <td>12</td>
              <td>Become a British citizen</td>
              <td>UK Visas & Immigration, Border Force</td>
            </tr>

            <tr class="">
              <td>13</td>
              <td>Claim asylum in the UK</td>
              <td>UK Visas & Immigration, Border Force</td>
            </tr>

            <tr class="">
              <td>14</td>
              <td>Get housing and support as an asylum seeker</td>
              <td>UK Visas & Immigration, Border Force</td>
            </tr>

            <tr class="">
              <td>15</td>
              <td>Get a Home Office travel document</td>
              <td>UK Visas & Immigration</td>
            </tr>
            -->


          </tbody>
        </table>
    </div>
  </div>
</main>

{% endblock %}
