{% extends "layout.html" %}

{% block page_title %}
  Service List - DWP Digital Service Manual
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
        <div class="column-two-thirds fl">
          <h1 class="heading-xlarge no-margin">Service list</h1>
          <p class="hero-description">Services delivered by the Department for Work and Pensions and related organisations as an end user would know them.</p>
        </div>
    </div>
  </div>
</div>
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full" style="padding: 0; margin-top: 40px;">
      <table id="service-list" class="table--striped">
          <thead>
            <th data-sort="int" class="int">ID</th>
            <th data-sort="string" class="int">Core services</th>
            <th data-sort="string" class="int">Delivered by</th>
          </thead>
          <tbody>

            <tr class="">
              <td>1</td>
              <td>Get support because of a health issue or disability</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>2</td>
              <td>Get support because of caring for someone else</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>3</td>
              <td>Get support because of pregnancy, having a child or becoming responsible for a child</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>4</td>
              <td>Plan for retirement</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>5</td>
              <td>Get state pension and other support in retirement</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>6</td>
              <td>Get support because of low income / no work / unable to work</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>7</td>
              <td>Find a job</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>8</td>
              <td>Get support because someone has died</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>9</td>
              <td>Arrange child maintenance</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>10</td>
              <td>Apply for a National Insurance number</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <thead>
              <th data-sort="int" class="int"></th>
              <th data-sort="string" class="int">Additional routing and life events</th>
              <th data-sort="string" class="int"></th>
            </thead>

            <tr class="">
              <td>11</td>
              <td>What to do when you have lost your job</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>12</td>
              <td>What to do when you have suffered a work-related injury</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>13</td>
              <td>What to do when someone has died</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>14</td>
              <td>What to do if you think you are a victim of domestic abuse</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>15</td>
              <td>What to do if you have a terminal illness</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <thead>
              <th data-sort="int" class="int"></th>
              <th data-sort="string" class="int">Supporting and enabling services</th>
              <th data-sort="string" class="int"></th>
            </thead>

            <tr class="">
              <td>16</td>
              <td>Resolve a debt with DWP</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>17</td>
              <td>Report benefit fraud</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>18</td>
              <td>Tell DWP about a change in your circumstances</td>
              <td>Department for Work and Pensions</td>
            </tr>

            <tr class="">
              <td>19</td>
              <td>Check status or get information from DWP</td>
              <td>Department for Work and Pensions</td>
            </tr>

          </tbody>
        </table>
    </div>
  </div>

</main>

{% endblock %}
