{% extends "layout.html" %}

{% block page_title %}
  When, where and how - DWP Digital Service Manual
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
        <div class="column-two-thirds fl"><h1 class="heading-xlarge no-margin">When, where and how</h1>
        <p class="hero-description">Know when to do what work, where to do it and how to do it to make great services.</p>
        </div>
    </div>
  </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row ">

  </div>


</main>

{% endblock %}
