{% extends "layout.html" %}

{% block page_title %}
  DWP Design Repository
{% endblock %}

{% block content %}
<div id="big-bar">
  <div class="big-bar-wrapper">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge no-margin">Prove you can apply</h1>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-one-third">
        <a href="mailto:artworkrequest.digitaldwp@gmail.com?Subject=Prove%20you%20can%20apply%20Mission%20patch%20request" class="white-button">Request this mission patch</a>
      </div>
    </div>
</div>
</div>
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-one-third sticker-list">
      <img class="image-static" src="/public/images/patches/prove-you-can-apply.png"/>
    </div>

    <div class="column-two-thirds">
      <h3 class="heading-medium">About this mission patch</h3>
      <p>This mission patch was designed by <a href="https://twitter.com/paulmsmith">Paul Smith</a> for the Prove you can Apply service team. 
</p>
      <h3 class="heading-medium">Printing guidance</h3>
      <p>This mission patch looks best printed with a matt finish.</p>
      <a class="button" href="/public/images/patches/prove-you-can-apply-mission-patch.zip" title="Download file bundle">Download file bundle</a>
    </div>
  </div>
</main>

{% endblock %}
